/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uk-split-block {
	width: 100%;
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		> [data-type="uk-gb/uk-split-item"]{
			width: 50%;
			&:nth-child(1) {
				.uk-split-item-contained {
					margin-left: auto;
				}
			}
			&:nth-child(2) {
				.uk-split-item-contained {
					margin-right: auto;
				}
			}
			.uk-split-item-contained {
				max-width: 600px;
			}
		} 
		>.block-list-appender {
			width: 100%;
			margin-top: 40px;
		}
	}
}


.wp-block-uk-gb-uk-split-bg {
	width: 100%;
}

.split-item-inner {
	width: 100%;
}