/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-kitchen-sink {
	padding: 1rem;
	.example-block {
		border: 1px solid #eee;
		border-radius: 0.5rem;
		padding: 1rem;
		margin-bottom: 2rem;

		ul {
			margin-left: 2rem;
		}
	}
}

.uk-gb-block.uk-gb-contained {
    .uk-gb-block-inner-wrapper {
    	max-width: var(--uk-breakpoint-l);
        margin-left: auto;
        margin-right: auto;        
    }
}

.alignfull {
    >.uk-gb-block-inner-wrapper {
    	max-width: none;
    	>.uk-gb-block,
    	>.wp-block {
    		max-width: none;
    	} 
    }
}

div[class^="wp-block-uk-gb"] {
	position: relative;
}

.uk-gb-block-inner-wrapper {
	position: relative;
	width: 100%;
}

.uk-item-background-conatiner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.editor-grid-size-uk-grid-large {
	>.uk-item-background-conatiner {
		right: 40px;
		@media (min-width: 1200px){
			right: 70px;
		}
	}
}
.editor-grid-size-uk-grid-default {
	>.uk-item-background-conatiner {
		right: 30px;
		@media (min-width: 1200px){
			right: 40px;
		}
	}
}
.editor-grid-size-uk-grid-small {
	>.uk-item-background-conatiner {
		right: 15px;
		@media (min-width: 1200px){
			right: 15px;
		}
	}
}

/* 

70 - 40 
40 - 30
15

*/

// Height
.uk-min-height-small {
	min-height: 150px;
}
.uk-min-height-medium {
	min-height: 300px;
}
.uk-min-height-large {
	min-height: 450px
}

.uk-min-height-viewport {
	min-height: 100vh !important;
}
