/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

$primary-color: #1e87f0;
$inactive-border-color: #ddd;
$active-color: #0085ba;


$breakpoint-small:                              640px !default;  // Phone landscape
$breakpoint-medium:                             960px !default;  // Tablet Landscape
$breakpoint-large:                              1200px !default; // Desktop
$breakpoint-xlarge:                             1600px !default; // Large Screens

$breakpoint-xsmall-max:                         ($breakpoint-small - 1) !default;
$breakpoint-small-max:                          ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                         ($breakpoint-large - 1) !default;
$breakpoint-large-max:                          ($breakpoint-xlarge - 1) !default;

/*@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');
}

p, h1, h2, h3, h4, h5, h6, div, button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}*/

.title {
    font-weight: 900 !important;
}

img, figure, .wp-block-image {
    // max-width: 460px !important;
    // height: auto;
    // max-height: 400px !important;
}