/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.uk-heading-bullet {
	> span > .rich-text {
		&:before,
		&:after {
			display: none!important;
		}
		display: inline;
	}
}

.uk-heading-line {
	> span > .rich-text {
		&:before,
		&:after {
			display: none!important;
		}
		display: inline;
	}
}
